{% extends "base.html" %}
{% block title %}Register{% endblock  %}
{% block script %}
<script>
  function showPopup(message) {
      alert(message);
  }
</script>
{% endblock %}
{% block style %}
/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: url("{{ url_for('static', filename='loginbg.jpg') }}"); 
}

.container {
  margin-top: 100px;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

/* Remove dark shadow and set white background for the select box */
.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  background-color: #fff;
  box-shadow: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  transition: all 0.3s ease;
}

.user-details .input-box select:focus,
.user-details .input-box select:valid {
  border-color: #9b59b6;
  background-color: #fff; 
}


form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}


form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 35px 0
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

/* Responsive media query code for mobile devices */
@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

/* Responsive media query code for mobile devices */
@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
{% endblock  %}
{% block body %}
  <br>
  <br><br><br>
  <br><br>
  <div class="container">
    <br>
    {% if popUp %}
    <script>
        // Show the popup if the condition is true
        showPopup("Student already exists! Please login");
    </script>
    {% endif %}
    <div class="title">Registration</div>
    <div class="content">
      
      <form action="{{url_for('register')}}" method="POST" enctype="multipart/form-data">
        <div class="user-details">
          
          <div class="input-box">
            <span class="details">First Name</span>
            <input type="text" placeholder="Enter your first name" id="fname" name="fname" required>
          </div>

          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" placeholder="Enter your last name" id="lname" name="lname" required>
          </div>
          
          <div class="input-box">
            <span class="details">Roll number</span>
            <input type="text" placeholder="Enter your roll number" id="rollnumber" name="rollnumber" required>
          </div>
          
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" id="email" name="email" required>
          </div>

          <div class="input-box">
            <span class="details">Batch</span>
            <select placeholder="Batch" id="batch" name="batch">
              <option value="none">Select any one</option>
              <option value="2024-2028">2024-2028</option>
              <option value="2023-2027">2023-2027</option>
              <option value="2022-2026">2022-2026</option>
              <option value="2021-2025">2021-2025</option>
          </select>
          </div>
          
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your phone number" id="phoneNumber" name="phoneNumber" required>
          </div>

          <div class="input-box">
            <span class="details">Department</span>
            <select placeholder="Enter your department" id="dept" name="dept">
                <option value="none">Select any one</option>
                <option value="Computer Science">Computer Science & Engineering</option>
                <option value="Information Technology">Information Technology</option>
            </select>
          </div>
          
          <div class="input-box">
            <span class="details">Section</span>
            <input type="text" placeholder="Enter your section" id="section" name="section" required>
          </div>

          <!-- Date of Birth Field -->
          <div class="input-box">
            <span class="details">Date of Birth</span>
            <input type="date" placeholder="Enter your date of birth" id="dob" name="dob" required>
          </div>
          
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" id="password" name="password" required>
          </div>
          
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm your password" required>
          </div>

          <div class="input-box">
            <label >
              Upload new photo
              <input type="file" class="account-settings-fileinput" name="image">
            </label>
          </div>
          
                    <!-- Address Field -->
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" id="address" name="address" required style="height: 120px; width: 200%;">
          </div>
        </div>

        
        
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
{% endblock  %}
